*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: white;
    padding: 12px 17px;
    font-size: 23px;
}

.header img{
    display: inline;
    vertical-align: middle;
}
h1{
    display: inline;
    vertical-align: middle;
}
main{
    width: 100vw;
    height: 90vh;
    background-color: #f6f8f9;
}
.container{
    background-color: white;
    width: 70%;
    height: 93%;
    margin: auto;
    position: relative;
    top: 40px;
    border-radius: 8px;
}
#btn1{
    margin-left: 5%;
    background-color: hsl(204, 85.9%, 61.2%);
    border: 0;
    color: white;
}
#btn2{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}
.btn{
    margin-top: 2%;
    padding: 5px 10px;
    border-radius: 7px; 
}
hr{
    color: #f6f8f9;
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
.main-list{
    margin-left: 60px;
    font-size: 20px;
}
.list{
    margin-top: 5px;
    margin-left: 10px;
}
.green{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    vertical-align: middle;
}
.red{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 4px;
    vertical-align: middle;
    font-size: 10px;
}
h2{
    margin-top: 20px;
}
.foot{
    display: inline-block;
    font-size: 10px;
    color: white;
    padding: 8px;
    border-radius: 20px;
}
.edit{
    background-color: hsl(202.9, 79.7%, 59.4%);
}
#q1{
    background-color: #9c72e4;
}
#rec{
    background-color: #64c0a9;
}
#mob{
    background-color: #f29e33;
}
#web{
    background-color: #d863a1;
}
#sale{
    background-color: #b0c926;
}
#no-foot{
    margin-top: 17px;
}
li{
    margin-top: 17px;
}