*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: white;
    padding: 12px 17px;
    font-size: 23px;
}

.header img{
    display: inline;
    vertical-align: middle;
}
h1{
    display: inline;
    vertical-align: middle;
}
main{
    width: 100vw;
    height: 90vh;
    background-color: #f6f8f9;
}
.container{
    background-color: white;
    width: 70%;
    height: 93%;
    margin: auto;
    position: relative;
    top: 40px;
    border-radius: 8px;
}
#btn1{
    margin-left: 5%;
    background-color: hsl(204, 85.9%, 61.2%);
    border: 0;
}
#btn2{
    background-color: white;
    border: 1px solid gray;
}
.btn{
    margin-top: 2%;
    padding: 5px 8px;
    border-radius: 7px; 
}
hr{
    color: #f6f8f9;
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
.main-list{
    margin: 60px;
}
.list{
    margin-top: 5px;
    margin-left: 10px;
}